body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

a:link,
a:visited {
    background-color: lightgray;
    color: black;
    padding: 14px 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: gray;
}

@media (max-width: 700px) {
    .hide-on-small {
        position: absolute;
        left: -999em;
    }
}



#img-div {
    max-width: 400px;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    align-self: center;
}

#img-caption {
    text-align: center;
    font-size: 85%;
}

@media (min-width: 700px) {
    .d1 {
        background: white;
        display: flex;
        flex-direction: column;
        position: fixed;
    }
}

@media (max-width: 700px) {
    .d1 {
        background: white;
        display: flex;
        flex-direction: column;
    }
}


@media (min-width: 700px) {
    .d2 {
        margin-left: 410px;
        background: lightgray;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .d2 {
        background: lightgray;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    .container {
        height: 100%;
        display: flex;
    }
}

@media (max-wdith: 500px) {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

#tribute-info {
    text-align: center;
    font-size: 110%;
}

#timeline {
    margin-left: 50px;
    margin-right: 50px;
}